In [2]:
from docling.document_converter import DocumentConverter
import json
source = r"C:\Users\malhar.yadav\Downloads\SEP2024_AA12920184_HLD.PDF"  # document per local path or URL
converter = DocumentConverter()
result = converter.convert(source)
# print(result.document.export_to_dict)  # output: "## Docling Technical Report[...]"
with open("output.json",mode="w", encoding="utf-8") as fp:
        fp.write(json.dumps(result.document.export_to_dict()))

In [27]:
import json
with open("output.json", mode="r", encoding="utf-8") as fp:
    json_data = json.load(fp)
json_data.keys()

dict_keys(['schema_name', 'version', 'name', 'origin', 'furniture', 'body', 'groups', 'texts', 'pictures', 'tables', 'key_value_items', 'form_items', 'pages'])

In [57]:
import pandas as pd
newdata = []
for text_data in json_data['texts']:
    newdata.append([text_data["prov"][0]["page_no"], text_data["orig"], text_data["text"]])
    # print(text_data["prov"][0]["page_no"], text_data["orig"], text_data["text"])
df = pd.DataFrame(newdata, columns=["page_no", "orig", "text"])
df.to_csv("output.csv", index=False)

In [113]:
# import pandas as pd
# columns = []
# rows = []
# def split_into_n_sublists(input_list, n):
#     # Pad input list with None to make its length a multiple of n
#     while len(input_list) < n * n:
#         input_list.append(None)
    
#     # Split into exactly `n` sublists with `n` elements each
#     return [input_list[i * n:(i + 1) * n] for i in range(n)]

# for table_data in json_data["tables"][1]["data"]["table_cells"]:
#    #  print(type(table_data["column_header"]), table_data["row_header"])
#     if table_data["column_header"]:
#         columns.append(table_data["text"])
#     if table_data["row_header"] == False and table_data["column_header"] == False:
#         rows.append(table_data["text"])
   #  print(table_data["text"], table_data["column_header"], table_data["row_header"])
# df = pd.DataFrame(split_into_n_sublists(rows, len(columns)), columns=columns)
# df
# print(split_into_n_sublists(rows, len(columns)))

json_data["tables"][1]["data"]["table_cells"]

[{'bbox': {'l': 40.014,
   't': 365.95900000000006,
   'r': 99.82,
   'b': 375.848,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 0,
  'end_row_offset_idx': 1,
  'start_col_offset_idx': 0,
  'end_col_offset_idx': 1,
  'text': 'Account Type खाते का �कार',
  'column_header': True,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 189.572,
   't': 365.95900000000006,
   'r': 259.895,
   'b': 375.848,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 0,
  'end_row_offset_idx': 1,
  'start_col_offset_idx': 1,
  'end_col_offset_idx': 2,
  'text': 'Account Details खाता �ववरण',
  'column_header': True,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 355.289,
   't': 365.95900000000006,
   'r': 453.749,
   'b': 375.848,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 0,
  'end_row_offset_idx': 1,
  'start_col_offset_idx': 2,
  'end_col_offset_idx': 3,
  'text': 'No. of ISINs/ Schemes ISIN/योजनाओं क� सं�या',
  'column_header': True,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 507.823,
   't': 365.95900000000006,
   'r': 550.918,
   'b': 375.848,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 0,
  'end_row_offset_idx': 1,
  'start_col_offset_idx': 3,
  'end_col_offset_idx': 4,
  'text': 'Value in ` ₹  म� मू�य',
  'column_header': True,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 24.97,
   't': 400.686,
   'r': 110.378,
   'b': 408.692,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 1,
  'end_row_offset_idx': 2,
  'start_col_offset_idx': 0,
  'end_col_offset_idx': 1,
  'text': 'CDSL Demat Account',
  'column_header': False,
  'row_header': True,
  'row_section': False},
 {'bbox': {'l': 124.852,
   't': 396.191,
   'r': 276.6,
   'b': 413.187,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 1,
  'end_row_offset_idx': 2,
  'start_col_offset_idx': 1,
  'end_col_offset_idx': 2,
  'text': 'ZERODHA BROKING LIMITED DP Id: 12081601   Client Id :10950391',
  'column_header': False,
  'row_header': True,
  'row_section': False},
 {'bbox': {'l': 401.912,
   't': 400.686,
   'r': 407.126,
   'b': 408.692,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 1,
  'end_row_offset_idx': 2,
  'start_col_offset_idx': 2,
  'end_col_offset_idx': 3,
  'text': '3',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 534.009,
   't': 400.686,
   'r': 574.317,
   'b': 408.692,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 1,
  'end_row_offset_idx': 2,
  'start_col_offset_idx': 3,
  'end_col_offset_idx': 4,
  'text': '25,827.25',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 24.97,
   't': 425.911,
   'r': 100.031,
   'b': 433.917,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 2,
  'end_row_offset_idx': 3,
  'start_col_offset_idx': 0,
  'end_col_offset_idx': 1,
  'text': 'Mutual Fund Folios',
  'column_header': False,
  'row_header': True,
  'row_section': False},
 {'bbox': {'l': 124.852,
   't': 425.911,
   'r': 155.074,
   'b': 433.917,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 2,
  'end_row_offset_idx': 3,
  'start_col_offset_idx': 1,
  'end_col_offset_idx': 2,
  'text': '5 Folios',
  'column_header': False,
  'row_header': True,
  'row_section': False},
 {'bbox': {'l': 401.912,
   't': 425.911,
   'r': 407.126,
   'b': 433.917,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 2,
  'end_row_offset_idx': 3,
  'start_col_offset_idx': 2,
  'end_col_offset_idx': 3,
  'text': '5',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 526.889,
   't': 425.911,
   'r': 574.317,
   'b': 433.917,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 2,
  'end_row_offset_idx': 3,
  'start_col_offset_idx': 3,
  'end_col_offset_idx': 4,
  'text': '2,83,556.98',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 451.433,
   't': 446.804,
   'r': 474.436,
   'b': 455.84900000000005,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 3,
  'end_row_offset_idx': 4,
  'start_col_offset_idx': 2,
  'end_col_offset_idx': 3,
  'text': 'Total',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 520.9,
   't': 446.804,
   'r': 574.317,
   'b': 455.84900000000005,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 3,
  'end_row_offset_idx': 4,
  'start_col_offset_idx': 3,
  'end_col_offset_idx': 4,
  'text': '3,09,384.23',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 421.399,
   't': 468.728,
   'r': 474.436,
   'b': 477.77299999999997,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 4,
  'end_row_offset_idx': 5,
  'start_col_offset_idx': 2,
  'end_col_offset_idx': 3,
  'text': 'Grand Total',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 520.9,
   't': 468.728,
   'r': 574.317,
   'b': 477.77299999999997,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 4,
  'end_row_offset_idx': 5,
  'start_col_offset_idx': 3,
  'end_col_offset_idx': 4,
  'text': '3,09,384.23',
  'column_header': False,
  'row_header': False,
  'row_section': False}]

In [95]:
def split_into_n_sublists(input_list, n):
    # Pad input list with None to make its length a multiple of n
    while len(input_list) < n * n:
        input_list.append(None)
    
    # Split into exactly `n` sublists with `n` elements each
    return [input_list[i * n:(i + 1) * n] for i in range(n)]

# Example usage
input_list = [
    "MALHAR SACHIN YADAV",
    "CDSL Demat Accounts NSDL Demat Accounts* Mutual Fund Folios",
    "25,827.25 N.A 2,83,556.98",
    "Click Here",
    "Total Portfolio Value",
    "3,09,384.23"
]
num = 3  # The number of sublists AND elements in each sublist

result = split_into_n_sublists(input_list, num)
print(result)

[['MALHAR SACHIN YADAV', 'CDSL Demat Accounts NSDL Demat Accounts* Mutual Fund Folios', '25,827.25 N.A 2,83,556.98'], ['Click Here', 'Total Portfolio Value', '3,09,384.23'], [None, None, None]]

In [26]:
import pandas as pd

# Given list of dictionaries
data_list = [
    {"text": "Name/Joint Name (s)", "column_header": True, "row": 0, "col": 0},
    {"text": "Portfolio Valuation (In ₹)", "column_header": True, "row": 0, "col": 1},
    {"text": "View Statement", "column_header": True, "row": 0, "col": 3},
    {"text": "MALHAR SACHIN YADAV", "column_header": False, "row": 1, "col": 0},
    {"text": "CDSL Demat Accounts NSDL Demat Accounts* Mutual Fund Folios", "column_header": False, "row": 1, "col": 1},
    {"text": "25,827.25 N.A 2,83,556.98", "column_header": False, "row": 1, "col": 2},
    {"text": "Click Here", "column_header": False, "row": 1, "col": 3},
    {"text": "Total Portfolio Value", "column_header": False, "row": 2, "col": 1},
    {"text": "3,09,384.23", "column_header": False, "row": 2, "col": 2}
]

# Convert to DataFrame
df = pd.DataFrame(data_list)

# Pivot to a table format
df_pivot = df.pivot(index="row", columns="col", values="text")

# Reset column names
df_pivot.columns = [f"Column_{i}" for i in range(len(df_pivot.columns))]

df_pivot

,Column_0,Column_1,Column_2,Column_3
row,,,,
0,Name/Joint Name (s),Portfolio Valuation (In ₹),NaN,View Statement
1,MALHAR SACHIN YADAV,CDSL Demat Accounts NSDL Demat Accounts* Mutua...,"25,827.25 N.A 2,83,556.98",Click Here
2,NaN,Total Portfolio Value,"3,09,384.23",NaN

In [118]:
json_data["tables"].__len__()

8

In [120]:
import pandas as pd

# Raw extracted data
def get_tables(i):
    raw_data = json_data["tables"][i]["data"]["table_cells"]

# Determine the max number of columns
    max_columns = max(item["start_col_offset_idx"] + item["col_span"] for item in raw_data)

# Create an empty table structure
    table = {}

# Populate table based on extracted data
    for item in raw_data:
        row_idx = item["start_row_offset_idx"]
        col_idx = item["start_col_offset_idx"]
        col_span = item["col_span"]
        text = item["text"]

    # Initialize row if not exists
        if row_idx not in table:
            table[row_idx] = [""] * max_columns  # Initialize empty columns

    # Assign text to correct position, spanning columns if needed
        for i in range(col_span):
            table[row_idx][col_idx + i] = text if i == 0 else ""  # Leave merged columns empty after first

# Convert table dictionary to a structured list for DataFrame
    structured_data = [table[row] for row in sorted(table.keys())]

# Extract column headers separately
    columns = structured_data.pop(0)

# Create DataFrame
    df = pd.DataFrame(structured_data, columns=columns)

# Display DataFrame
    print(df)

for i in range(8):
    get_tables(i)

  Name/Joint Name (s) नाम/संयु�त नाम  \
0                MALHAR SACHIN YADAV
1

  Portfolio Valuation (In `) पोट�फो�लयो मू�यांकन ( ₹  में)  \
0  CDSL Demat Accounts NSDL Demat Accounts* Mutua...
1                              Total Portfolio Value

                             View Statement �ववरण देख�
0  25,827.25 N.A 2,83,556.98                Click Here
1                3,09,384.23
  Account Type खाते का �कार  \
0        CDSL Demat Account
1        Mutual Fund Folios
2
3

                          Account Details खाता �ववरण  \
0  ZERODHA BROKING LIMITED DP Id: 12081601   Clie...
1                                           5 Folios
2
3

  No. of ISINs/ Schemes ISIN/योजनाओं क� सं�या Value in ` ₹  म� मू�य
0                                           3             25,827.25
1                                           5           2,83,556.98
2                                       Total           3,09,384.23
3                                 Grand Total           3,09,384.23
   Month-Year माह-वष�  \
0            Oct 2023
1            Nov 2023
2            Dec 2023
3            Jan 2024
4            Feb 2024
5            Mar 2024
6            Apr 2024
7            May 2024
8            Jun 2024
9            Jul 2024
10           Aug 2024
11           Sep 2024

   Portfolio Valuation (In `) पोट�फो�लयो मू�यांकन ( ₹  में)  \
0                                         2,12,072.15
1                                         2,25,301.29
2                                         2,39,973.47
3                                         2,49,680.44
4                                         2,50,720.18
5                                         2,53,075.55
6                                         2,69,976.24
7                                         2,76,072.39
8                                         2,90,401.59
9                                         3,01,522.90
10                                        3,03,593.34
11                                        3,09,384.23

   Changes in ` प�रवत�न  ₹  में Changes in % प�रवत�न % म�
0
1                     13,229.14                      6.24
2                     14,672.18                      6.51
3                      9,706.97                      4.05
4                      1,039.74                      0.42
5                      2,355.37                      0.94
6                     16,900.69                      6.68
7                      6,096.15                      2.26
8                     14,329.20                      5.19
9                     11,121.31                      3.83
10                     2,070.44                      0.69
11                     5,790.89                      1.91
  Asset Class प�रसंपि�त का वग�   Value मू�य Percentage ��तशत
0                       Equity    25,827.25             8.35
1           Mutual Fund Folios  2,83,556.98            91.65
2                        Total  3,09,384.23           100.00
  Assets Class प�रसंपि�त का वग� Value in ` ₹  म� मू�य     % %
0            Mutual Fund Folios           2,83,556.98   91.65
1                        Equity             25,827.25    8.35
2                         Total           3,09,384.23  100.00
                                      ISIN ISIN  \
0                                  INE053F01010
1                                  INE338D01028
2                                  INE743M01012
3  Portfolio Value ` 25,827.25 as on 30-09-2024

                                    Security ��तभू�त Current Bal वत�मान शेष  \
0  INDIAN RAILWAY FINANCE CORPORATION LIMITED # E...                 80.000
1  BODAL CHEMICALS LIMITED- NEW EQUITY SHARES OF ...                 50.000
2          RHI MAGNESITA INDIA LIMITED#EQUITY SHARES                 15.000
3

  Frozen Bal �ोजेन शेष Pledge Bal �लेज शेष Pledge Setup Bal �लेज सेटअप शेष  \
0                   --                  --                              --
1                   --                  --                              --
2                   --                  --                              --
3

  Free Bal मु�त शेष Market Price / Face Value बाज़ार मू�य/ अं�कत मू�य  \
0            80.000                                          158.750
1            50.000                                           81.060
2            15.000                                          604.950
3

  Value (`) ₹  म� मू�य
0            12,700.00
1             4,053.00
2             9,074.25
3
               Summary of Investments �नवेश� का �ववरण  \
0                                 MALHAR SACHIN YADAV
1   MUTUAL FUND UNITS HELD WITH MF/RTA MF/RTA म� र...
2                           Canara Robeco Mutual Fund
3                            Folio No : 17735843936/0
4                                ISIN :  INF760K01JT0
5                            Nippon India Mutual Fund
6   GDGP - NIPPON INDIA GOLD SAVINGS FUND - GROWTH...
7                           Folio No : 407111821295/0
8                                ISIN :  INF204K01KN0
9   EOGP - NIPPON INDIA MULTI CAP FUND - GROWTH PL...
10                          Folio No : 407111821295/0
11                               ISIN :  INF204K01489
12                                  PPFAS Mutual Fund
13  001RG - Parag Parikh Flexi Cap Fund - Regular ...
14                                Folio No : 12052239
15                               ISIN :  INF879O01019
16  LFG - Parag Parikh Liquid Fund Regular Plan Gr...
17                                Folio No : 12052239
18                               ISIN :  INF879O01035

   CDSL Demat Account Details CDSL DEMAT खाता �ववरण  \
0
1
2
3                         Mode of Holding :  Single
4                                             UCC :
5
6
7                         Mode of Holding :  Single
8                                 UCC :  MFRILC0188
9
10                        Mode of Holding :  Single
11                                UCC :  MFRILC0026
12
13
14                        Mode of Holding :  Single
15                                UCC :  MFPPFA0001
16
17                        Mode of Holding :  Single
18                                UCC :  MFPPFA0007

   NSDL Demat Account Details NSDL DEMAT खाता �ववरण  \
0
1
2
3                       KYC of Investor/s :  KYC OK
4                           Mobile No :  XXXXXX8246
5
6
7                       KYC of Investor/s :  KYC OK
8                           Mobile No :  XXXXXX8246
9
10                      KYC of Investor/s :  KYC OK
11                          Mobile No :  XXXXXX8246
12
13
14                      KYC of Investor/s :  KYC OK
15                          Mobile No :  XXXXXX8246
16
17                      KYC of Investor/s :  KYC OK
18                          Mobile No :  XXXXXX8246

   MF Details MF �ववरण Notes �ट�प�णयां About CDSL CDSL के  बारे म�
0
1
2
3                Nominee :  Registered
4     Email :  malharyadav14@gmail.com
5
6
7                Nominee :  Registered
8     Email :  MALHARYADAV14@GMAIL.COM
9
10               Nominee :  Registered
11    Email :  MALHARYADAV14@GMAIL.COM
12
13
14               Nominee :  Registered
15    Email :  malharyadav14@gmail.com
16
17               Nominee :  Registered
18    Email :  malharyadav14@gmail.com
                                         Scheme Name          ISIN  \
0
1  FEGP - Canara Robeco Focused Equity Fund - Reg...  INF760K01JT0
2  GDGP - NIPPON INDIA GOLD SAVINGS FUND - GROWTH...  INF204K01KN0
3  EOGP - NIPPON INDIA MULTI CAP FUND - GROWTH PL...  INF204K01489
4  001RG - Parag Parikh Flexi Cap Fund - Regular ...  INF879O01019
5  LFG - Parag Parikh Liquid Fund Regular Plan IN...
6                                        Grand Total

          Folio No.   ARN Code Closing Bal           NAV (`)  \
0                                  (Units)
1   17735843­ 936/0  ARN-34033    2119.474             20.15
2  40711182­ 1295/0  ARN-34033      56.701           29.4271
3  40711182­ 1295/0  ARN-34033              642.901 306.2378
4          12052239  ARN-34033     515.174           81.7556
5          12052239  ARN-34033        .132       1379.4­ 304
6

  Cumulative Amount Invested Valuation (`)  \
0                   (in INR)
1                  25,125.31     42,707.40
2                     729.07      1,668.55
3                  33,439.36   1,96,880.59
4                  25,000.05     42,118.36
5                     155.22        182.08
6      84,449.01 2,83,556.98

  Average Total Expense Ratio (TER) (In % T erms)          \
0                                         Regular  Direct
1                                            1.95       0
2                                             .35       0
3                                            1.58       0
4                                            1.33       0
5                                             .26       0
6

  Gross Commission Paid to Distributors (in absolute terms - in
0                                               INR)
1                                             288.39
2                                               1.96
3                                              481.6
4                                             139.06
5                                                .09
6

In [121]:
import pandas as pd
from IPython.display import display

# Function to extract and display tables
def get_tables(i):
    raw_data = json_data["tables"][i]["data"]["table_cells"]

    # Determine the max number of columns
    max_columns = max(item["start_col_offset_idx"] + item["col_span"] for item in raw_data)

    # Create an empty table structure
    table = {}

    # Populate table based on extracted data
    for item in raw_data:
        row_idx = item["start_row_offset_idx"]
        col_idx = item["start_col_offset_idx"]
        col_span = item["col_span"]
        text = item["text"]

        # Initialize row if not exists
        if row_idx not in table:
            table[row_idx] = [""] * max_columns  # Initialize empty columns

        # Assign text to correct position, spanning columns if needed
        for j in range(col_span):
            table[row_idx][col_idx + j] = text if j == 0 else ""  # Leave merged columns empty after first

    # Convert table dictionary to a structured list for DataFrame
    structured_data = [table[row] for row in sorted(table.keys())]

    # Extract column headers separately
    columns = structured_data.pop(0)

    # Create DataFrame
    df = pd.DataFrame(structured_data, columns=columns)

    # Display DataFrame using IPython display
    print(f"\n**Table {i+1}**")
    display(df)

# Loop through tables and display each one
for i in range(8):
    get_tables(i)

**Table 1**

,Name/Joint Name (s) नाम/संयु�त नाम,Portfolio Valuation (In `) पोट�फो�लयो मू�यांकन ( ₹ में),,View Statement �ववरण देख�
0,MALHAR SACHIN YADAV,CDSL Demat Accounts NSDL Demat Accounts* Mutua...,"25,827.25 N.A 2,83,556.98",Click Here
1,,Total Portfolio Value,"3,09,384.23",

**Table 2**

,Account Type खाते का �कार,Account Details खाता �ववरण,No. of ISINs/ Schemes ISIN/योजनाओं क� सं�या,Value in ` ₹ म� मू�य
0,CDSL Demat Account,ZERODHA BROKING LIMITED DP Id: 12081601 Clie...,3,"25,827.25"
1,Mutual Fund Folios,5 Folios,5,"2,83,556.98"
2,,,Total,"3,09,384.23"
3,,,Grand Total,"3,09,384.23"

**Table 3**

,Month-Year माह-वष�,Portfolio Valuation (In `) पोट�फो�लयो मू�यांकन ( ₹ में),Changes in ` प�रवत�न ₹ में,Changes in % प�रवत�न % म�
0,Oct 2023,"2,12,072.15",,
1,Nov 2023,"2,25,301.29","13,229.14",6.24
2,Dec 2023,"2,39,973.47","14,672.18",6.51
3,Jan 2024,"2,49,680.44","9,706.97",4.05
4,Feb 2024,"2,50,720.18","1,039.74",0.42
5,Mar 2024,"2,53,075.55","2,355.37",0.94
6,Apr 2024,"2,69,976.24","16,900.69",6.68
7,May 2024,"2,76,072.39","6,096.15",2.26
8,Jun 2024,"2,90,401.59","14,329.20",5.19
9,Jul 2024,"3,01,522.90","11,121.31",3.83
10,Aug 2024,"3,03,593.34","2,070.44",0.69
11,Sep 2024,"3,09,384.23","5,790.89",1.91

**Table 4**

  Asset Class प�रसंपि�त का वग�   Value मू�य Percentage ��तशत
0                       Equity    25,827.25             8.35
1           Mutual Fund Folios  2,83,556.98            91.65
2                        Total  3,09,384.23           100.00

**Table 5**

  Assets Class प�रसंपि�त का वग� Value in ` ₹  म� मू�य     % %
0            Mutual Fund Folios           2,83,556.98   91.65
1                        Equity             25,827.25    8.35
2                         Total           3,09,384.23  100.00

**Table 6**

,ISIN ISIN,Security ��तभू�त,Current Bal वत�मान शेष,Frozen Bal �ोजेन शेष,Pledge Bal �लेज शेष,Pledge Setup Bal �लेज सेटअप शेष,Free Bal मु�त शेष,Market Price / Face Value बाज़ार मू�य/ अं�कत मू�य,Value (`) ₹ म� मू�य
0,INE053F01010,INDIAN RAILWAY FINANCE CORPORATION LIMITED # E...,80.000,--,--,--,80.000,158.750,"12,700.00"
1,INE338D01028,BODAL CHEMICALS LIMITED- NEW EQUITY SHARES OF ...,50.000,--,--,--,50.000,81.060,"4,053.00"
2,INE743M01012,RHI MAGNESITA INDIA LIMITED#EQUITY SHARES,15.000,--,--,--,15.000,604.950,"9,074.25"
3,"Portfolio Value ` 25,827.25 as on 30-09-2024",,,,,,,,

**Table 7**

,Summary of Investments �नवेश� का �ववरण,CDSL Demat Account Details CDSL DEMAT खाता �ववरण,NSDL Demat Account Details NSDL DEMAT खाता �ववरण,MF Details MF �ववरण Notes �ट�प�णयां,About CDSL CDSL के बारे म�,
0,MALHAR SACHIN YADAV,,,,,
1,MUTUAL FUND UNITS HELD WITH MF/RTA MF/RTA म� र...,,,,,
2,Canara Robeco Mutual Fund,,,,,
3,Folio No : 17735843936/0,Mode of Holding : Single,KYC of Investor/s : KYC OK,Nominee : Registered,,
4,ISIN : INF760K01JT0,UCC :,Mobile No : XXXXXX8246,Email : malharyadav14@gmail.com,,
5,Nippon India Mutual Fund,,,,,
6,GDGP - NIPPON INDIA GOLD SAVINGS FUND - GROWTH...,,,,,
7,Folio No : 407111821295/0,Mode of Holding : Single,KYC of Investor/s : KYC OK,Nominee : Registered,,
8,ISIN : INF204K01KN0,UCC : MFRILC0188,Mobile No : XXXXXX8246,Email : MALHARYADAV14@GMAIL.COM,,
9,EOGP - NIPPON INDIA MULTI CAP FUND - GROWTH PL...,,,,,
10,Folio No : 407111821295/0,Mode of Holding : Single,KYC of Investor/s : KYC OK,Nominee : Registered,,
11,ISIN : INF204K01489,UCC : MFRILC0026,Mobile No : XXXXXX8246,Email : MALHARYADAV14@GMAIL.COM,,
12,PPFAS Mutual Fund,,,,,
13,001RG - Parag Parikh Flexi Cap Fund - Regular ...,,,,,
14,Folio No : 12052239,Mode of Holding : Single,KYC of Investor/s : KYC OK,Nominee : Registered,,
15,ISIN : INF879O01019,UCC : MFPPFA0001,Mobile No : XXXXXX8246,Email : malharyadav14@gmail.com,,
16,LFG - Parag Parikh Liquid Fund Regular Plan Gr...,,,,,
17,Folio No : 12052239,Mode of Holding : Single,KYC of Investor/s : KYC OK,Nominee : Registered,,
18,ISIN : INF879O01035,UCC : MFPPFA0007,Mobile No : XXXXXX8246,Email : malharyadav14@gmail.com,,

**Table 8**

,Scheme Name,ISIN,Folio No.,ARN Code,Closing Bal,NAV (`),Cumulative Amount Invested,Valuation (`),Average Total Expense Ratio (TER) (In % T erms),,Gross Commission Paid to Distributors (in absolute terms - in
0,,,,,(Units),,(in INR),,Regular,Direct,INR)
1,FEGP - Canara Robeco Focused Equity Fund - Reg...,INF760K01JT0,17735843­ 936/0,ARN-34033,2119.474,20.15,"25,125.31","42,707.40",1.95,0,288.39
2,GDGP - NIPPON INDIA GOLD SAVINGS FUND - GROWTH...,INF204K01KN0,40711182­ 1295/0,ARN-34033,56.701,29.4271,729.07,"1,668.55",.35,0,1.96
3,EOGP - NIPPON INDIA MULTI CAP FUND - GROWTH PL...,INF204K01489,40711182­ 1295/0,ARN-34033,,642.901 306.2378,"33,439.36","1,96,880.59",1.58,0,481.6
4,001RG - Parag Parikh Flexi Cap Fund - Regular ...,INF879O01019,12052239,ARN-34033,515.174,81.7556,"25,000.05","42,118.36",1.33,0,139.06
5,LFG - Parag Parikh Liquid Fund Regular Plan IN...,,12052239,ARN-34033,.132,1379.4­ 304,155.22,182.08,.26,0,.09
6,Grand Total,,,,,,"84,449.01 2,83,556.98",,,,